ws-spark-java/.idea/libraries/
ws-spark-java/.idea/workspace.xml
ws-spark-java/spark-java/target/
ws-spark-scala/.idea/libraries/
ws-spark-scala/.idea/workspace.xml
ws-spark-scala/spark-scala-practise/project/
ws-spark-scala/spark-scala-practise/target/
ws-spark-scala/spark-scala/project/
ws-spark-scala/spark-scala/target/